#GH {
  background: linear-gradient(45deg, #fa2d85, #f934a8, #f93bc8);
}

#CP {
  background: linear-gradient(45deg, #2dd7a2, #33bfdd, #3971e3);
}

#EC {
  background: linear-gradient(45deg, #bc68d4, #914eca, #603abb);
}

#TA {
  background: linear-gradient(45deg, #753ff1, #355df0, #2cbaef);
}

#LP {
  background: linear-gradient(45deg, #f7c072, #f29669, #ed6a61);
}
